@import url(http://fonts.googleapis.com/css?family=Cantarell:400,700|Fjalla+One);
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../scss/_global.scss */
body {
  font-size: 16px;
  font-family: "Cantarell", sans-serif;
  color: #14171c; }
  /* line 5, ../scss/_global.scss */
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Fjalla One", sans-serif; }
  /* line 9, ../scss/_global.scss */
  body h1 {
    font-size: 4.236em; }
  /* line 12, ../scss/_global.scss */
  body h2 {
    font-size: 2.618em; }
  /* line 15, ../scss/_global.scss */
  body h3, body h4 {
    font-size: 1.618em; }
  /* line 18, ../scss/_global.scss */
  body h5, body h6 {
    font-size: 1em; }
  /* line 22, ../scss/_global.scss */
  body a {
    color: #e7ce27;
    text-decoration: none; }
    /* line 25, ../scss/_global.scss */
    body a:hover {
      text-decoration: underline; }
  /* line 30, ../scss/_global.scss */
  body p {
    font-size: 1em;
    padding: 1em;
    line-height: 1.5; }

/* line 5, ../scss/_layout.scss */
body {
  *zoom: 1;
  max-width: 100%;
  _width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  body:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 959px) {
    /* line 5, ../scss/_layout.scss */
    body {
      max-width: 100%; } }
  @media (min-width: 960px) {
    /* line 5, ../scss/_layout.scss */
    body {
      max-width: 120%; } }
  /* line 7, ../scss/_layout.scss */
  body header {
    margin-left: 10%;
    width: 80%;
    float: left;
    margin-right: 0%;
    display: inline; }
  /* line 12, ../scss/_layout.scss */
  body nav {
    width: 100%;
    float: left;
    margin-right: 0%;
    display: inline; }
    /* line 14, ../scss/_layout.scss */
    body nav ul {
      padding-left: 10%;
      width: 80%;
      float: left;
      margin-right: 0%;
      display: inline; }
  /* line 19, ../scss/_layout.scss */
  body #main-content {
    margin-left: 10%;
    width: 60%;
    float: left;
    margin-right: 0%;
    display: inline; }
  /* line 23, ../scss/_layout.scss */
  body aside#main-side-bar {
    width: 20%;
    float: left;
    margin-right: 0%;
    display: inline; }
  /* line 26, ../scss/_layout.scss */
  body footer {
    width: 100%;
    float: left;
    margin-right: 0%;
    display: inline; }

/* line 39, ../scss/_layout.scss */
body header h1#site-title {
  letter-spacing: 2px;
  line-height: 2;
  text-shadow: 0 0 2px #14171c; }
/* line 44, ../scss/_layout.scss */
body header h2#site-sub-title {
  font-size: 1.618em;
  line-height: 2;
  color: #a4aebe;
  text-align: right; }
/* line 51, ../scss/_layout.scss */
body nav {
  background: #f1d827;
  padding: 1em 0;
  margin-bottom: 2em; }
  /* line 55, ../scss/_layout.scss */
  body nav ul {
    width: 80%;
    list-style: none;
    margin: 0 auto; }
    /* line 59, ../scss/_layout.scss */
    body nav ul li {
      display: inline-block; }
      /* line 2, ../scss/_mixins.scss */
      body nav ul li {
        margin-right: 20px; }
      /* line 5, ../scss/_mixins.scss */
      body nav ul li:last-of-type {
        margin-right: 0; }
      /* line 62, ../scss/_layout.scss */
      body nav ul li a {
        font-size: 1.2944em;
        font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        color: #363e4c;
        text-shadow: 0 0 1px #14171c;
        -webkit-transition: all 0.4s ease-in;
        -moz-transition: all 0.4s ease-in;
        -ms-transition: all 0.4s ease-in;
        -o-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in; }
        /* line 73, ../scss/_layout.scss */
        body nav ul li a:hover {
          color: #14171c;
          text-decoration: none; }
/* line 82, ../scss/_layout.scss */
body #main-content article.feature-article, body #main-content article.home-article {
  border: 1px solid #fdfbe7; }
  /* line 11, ../scss/_mixins.scss */
  body #main-content article.feature-article, body #main-content article.home-article {
    margin-bottom: 2em; }
  /* line 14, ../scss/_mixins.scss */
  body #main-content article.feature-article:last-of-type, body #main-content article.home-article:last-of-type {
    margin-bottom: 0; }
  /* line 85, ../scss/_layout.scss */
  body #main-content article.feature-article h3.article-title, body #main-content article.home-article h3.article-title {
    background: #f1d827;
    padding-left: 16px; }
    /* line 88, ../scss/_layout.scss */
    body #main-content article.feature-article h3.article-title a, body #main-content article.home-article h3.article-title a {
      color: #14171c;
      line-height: 2;
      letter-spacing: 2px;
      font-weight: 300; }
      /* line 93, ../scss/_layout.scss */
      body #main-content article.feature-article h3.article-title a a:hover, body #main-content article.home-article h3.article-title a a:hover {
        text-decoration: underline; }
  /* line 98, ../scss/_layout.scss */
  body #main-content article.feature-article .article-meta, body #main-content article.home-article .article-meta {
    *zoom: 1;
    padding-left: 16px; }
    /* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    body #main-content article.feature-article .article-meta:after, body #main-content article.home-article .article-meta:after {
      content: "";
      display: table;
      clear: both; }
    /* line 101, ../scss/_layout.scss */
    body #main-content article.feature-article .article-meta h4, body #main-content article.home-article .article-meta h4 {
      float: left;
      font-size: 0.9708em;
      font-family: "Cantarell", sans-serif;
      line-height: 2;
      color: #8693a9; }
      /* line 2, ../scss/_mixins.scss */
      body #main-content article.feature-article .article-meta h4, body #main-content article.home-article .article-meta h4 {
        margin-right: 20px; }
      /* line 5, ../scss/_mixins.scss */
      body #main-content article.feature-article .article-meta h4:last-of-type, body #main-content article.home-article .article-meta h4:last-of-type {
        margin-right: 0; }
  /* line 110, ../scss/_layout.scss */
  body #main-content article.feature-article p, body #main-content article.home-article p {
    padding-top: 0; }
/* line 116, ../scss/_layout.scss */
body aside#main-side-bar section.widget {
  width: 80%;
  margin: 0 auto; }
  /* line 11, ../scss/_mixins.scss */
  body aside#main-side-bar section.widget {
    margin-bottom: 2em; }
  /* line 14, ../scss/_mixins.scss */
  body aside#main-side-bar section.widget:last-of-type {
    margin-bottom: 0; }
  /* line 120, ../scss/_layout.scss */
  body aside#main-side-bar section.widget h3.widget-title {
    line-height: 2; }
  /* line 11, ../scss/_mixins.scss */
  body aside#main-side-bar section.widget .widget-body ul li {
    margin-bottom: 10px; }
  /* line 14, ../scss/_mixins.scss */
  body aside#main-side-bar section.widget .widget-body ul li:last-of-type {
    margin-bottom: 0; }
/* line 132, ../scss/_layout.scss */
body footer {
  padding: 1em 0;
  margin: 30px 0;
  background: #f1d827; }
  /* line 136, ../scss/_layout.scss */
  body footer h3#copy-right {
    line-height: 2;
    padding-left: 16px;
    font-size: 0.9708em;
    font-weight: 300; }

@media (max-width: 959px) {
  /* line 147, ../scss/_layout.scss */
  body header {
    margin-left: 10%;
    width: 80%;
    float: left;
    margin-right: 0%; }
  /* line 152, ../scss/_layout.scss */
  body nav {
    width: 100%;
    float: left;
    margin-right: 0%; }
    /* line 154, ../scss/_layout.scss */
    body nav ul {
      padding-left: 10%;
      width: 80%;
      float: left;
      margin-right: 0%; }
  /* line 159, ../scss/_layout.scss */
  body #main-content {
    margin-left: 10%;
    width: 80%;
    float: left;
    margin-right: 0%; }
  /* line 163, ../scss/_layout.scss */
  body aside#main-side-bar {
    margin-left: 10%;
    width: 80%;
    float: left;
    margin-right: 0%;
    margin-top: 2em; }
    /* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    body aside#main-side-bar:after {
      content: "";
      display: table;
      clear: both; }
    /* line 168, ../scss/_layout.scss */
    body aside#main-side-bar section.widget {
      float: left;
      width: 30%;
      border: 1px solid #fdfbe7;
      padding: 1em 0; }
      /* line 20, ../scss/_mixins.scss */
      body aside#main-side-bar section.widget {
        margin-left: 2%; }
      /* line 23, ../scss/_mixins.scss */
      body aside#main-side-bar section.widget:last-of-type {
        margin-left: 0; }
      /* line 174, ../scss/_layout.scss */
      body aside#main-side-bar section.widget h3.widget-title {
        text-align: center; }
      /* line 177, ../scss/_layout.scss */
      body aside#main-side-bar section.widget .widget-body {
        width: 80%;
        margin: 0 auto; }
  /* line 183, ../scss/_layout.scss */
  body footer {
    width: 100%;
    float: left;
    margin-right: 0%; } }
@media (max-width: 480px) {
  /* line 190, ../scss/_layout.scss */
  body {
    background: #e7d34d; }
    /* line 192, ../scss/_layout.scss */
    body a {
      color: #f3e9a7;
      text-decoration: underline; }
      /* line 195, ../scss/_layout.scss */
      body a:hover {
        text-decoration: none; }
    /* line 199, ../scss/_layout.scss */
    body header {
      margin-left: 0%;
      width: 100%;
      float: left;
      margin-right: 0%; }
      /* line 202, ../scss/_layout.scss */
      body header h1#site-title {
        text-shadow: none;
        text-align: center;
        padding: 0; }
      /* line 207, ../scss/_layout.scss */
      body header h2#site-sub-title {
        color: #978611;
        text-align: center;
        padding: 0; }
    /* line 213, ../scss/_layout.scss */
    body nav {
      margin-left: 0%;
      width: 100%;
      float: left;
      margin-right: 0%; }
      /* line 2, ../scss/_mixins.scss */
      body nav ul li {
        margin-right: 10px; }
      /* line 5, ../scss/_mixins.scss */
      body nav ul li:last-of-type {
        margin-right: 0; }
      /* line 219, ../scss/_layout.scss */
      body nav ul li a {
        text-shadow: none;
        color: #14171c;
        background: none;
        border: none;
        padding: 0;
        text-decoration: none; }
    /* line 230, ../scss/_layout.scss */
    body #main-content {
      margin-left: 10%; }
      /* line 232, ../scss/_layout.scss */
      body #main-content article.feature-article, body #main-content article.home-article {
        border: 1px solid #e1c820; }
        /* line 11, ../scss/_mixins.scss */
        body #main-content article.feature-article, body #main-content article.home-article {
          margin-bottom: 10px; }
        /* line 14, ../scss/_mixins.scss */
        body #main-content article.feature-article:last-of-type, body #main-content article.home-article:last-of-type {
          margin-bottom: 0; }
        /* line 235, ../scss/_layout.scss */
        body #main-content article.feature-article h3.article-title, body #main-content article.home-article h3.article-title {
          padding: 0;
          text-align: center;
          background: #14171c; }
          /* line 239, ../scss/_layout.scss */
          body #main-content article.feature-article h3.article-title a, body #main-content article.home-article h3.article-title a {
            color: #e7d34d;
            text-decoration: none; }
        /* line 244, ../scss/_layout.scss */
        body #main-content article.feature-article .article-meta, body #main-content article.home-article .article-meta {
          padding-left: 1em;
          background: #e1c820; }
          /* line 247, ../scss/_layout.scss */
          body #main-content article.feature-article .article-meta h4, body #main-content article.home-article .article-meta h4 {
            padding: 0;
            color: #3b3507;
            letter-spacing: 0; }
            /* line 2, ../scss/_mixins.scss */
            body #main-content article.feature-article .article-meta h4, body #main-content article.home-article .article-meta h4 {
              margin-right: 10px; }
            /* line 5, ../scss/_mixins.scss */
            body #main-content article.feature-article .article-meta h4:last-of-type, body #main-content article.home-article .article-meta h4:last-of-type {
              margin-right: 0; }
        /* line 254, ../scss/_layout.scss */
        body #main-content article.feature-article p, body #main-content article.home-article p {
          padding: 1em; }
    /* line 260, ../scss/_layout.scss */
    body aside#main-side-bar section.widget {
      float: none;
      width: 100%;
      margin: 0 auto;
      border: 1px solid #e1c820; }
      /* line 11, ../scss/_mixins.scss */
      body aside#main-side-bar section.widget {
        margin-bottom: 10px; }
      /* line 14, ../scss/_mixins.scss */
      body aside#main-side-bar section.widget:last-of-type {
        margin-bottom: 0; }
    /* line 268, ../scss/_layout.scss */
    body footer {
      background: #14171c;
      width: 100%;
      float: left;
      margin-right: 0%; }
      /* line 271, ../scss/_layout.scss */
      body footer h3#copy-right {
        color: #faeeee; } }
